html  { 
	height: 100% 
}

body  { 
	height: 100%;
	overflow: hidden;
}

.navbar   { 
	margin-bottom:0px;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
}
.navbar-brand   { 
	font-size:30px;
}

.navbar-right {
	margin-right: -15px;
}

.angular-google-map-container {
	position: absolute !important;
	height: 95%;
	width:100%;
}