<div class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
          	</button>
			<a class="navbar-brand" href="#">SimpleRealtor</a>
		</div>
		<div class="navbar-collapse collapse">
			<form>
				<div class="navbar-form navbar-right">
					<button type="submit" ng-click="search()" class="btn btn-success">Go!</button>
				</div>
				<div class="navbar-form navbar-right" style="width:150px;">
					<input type="number" name="maxPrice" ng-model="maxPrice" placeholder="Max" step="10000" class="form-control"/>
				</div>
				<div class="navbar-form navbar-right" style="width:150px">
					<input type="number" name="minPrice" ng-model="minPrice" placeholder="Min" step="10000" class="form-control"/>
				</div>
				<div class="navbar-form navbar-right">
					<input type="text" name="city" ng-model="city" placeholder="City" class="form-control" />
				</div>
			<form>
		</div>
	</div>
</div>
<google-map center='map.center' 
			draggable='true' 
			zoom='map.zoom' 
			bounds="map.bounds">
	<!-- MARKERS >
	<marker ng-repeat="listing in listings" coords="listing" icon="listing.icon" click="onMarkerClicked(listing)">
	    <marker-label content="listing.Address" anchor="22 0" class="marker-labels"/>
	    <window show="listing.showWindow" closeClick="closeClick(listing)">
	        <p>This is an info window at {{ listing.latitude | number:4 }}, {{ listing.longitude | number:4 }}!</p>
	        <p class="muted">My marker will stay open when the window is popped up!</p>
	    </window>
	</marker-->
	<markers models="listings" coords="'self'" click="'onClicked'">
		<windows show="'showWindow'" closeClick="'closeClick'">
			<p>Dynamic Marker created via a delay!</p>

			<p ng-non-bindable>This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>

			<p class="muted">My marker will stay open when the window is popped up!</p>
		</windows>
	</markers>
</google-map>